black
giskard[llm]
langchain
langchain-chroma
langchain_community
langchain-nomic
langchain-ollama
langgraph
nomic[local]
ollama
pdf2image
pypdf
python-dotenv
scikit-learn
streamlit
streamlit-extras
tavily-python
tiktoken
unstructured[all-docs]
